body {
    background-color: white;
    width: 450px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: .5px solid lightgrey;
}

h1 {
    margin: 5px;
    text-align: center;
}

h3 {
    margin: 25px auto 15px auto;
    text-indent: 25px;
    font-weight: 400;
}

#podebljavanje {
    font-weight: 600;
}

form {
    padding: 10px;
    width: 450px;
    box-sizing: border-box;
}

.donjiBorder {
    border-bottom: .5px solid lightgrey;
}

#poljeZaUnosTaska, #poljeFilterTaskova {
    margin: 8px;
    border: none;
    border-bottom: 2px solid lightgrey;
    height: 30px;
    width: 400px;
    text-indent: 10px;
}

#dugmeSubmit, #dugmeClear {
    background-color: #27A69B;
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    padding: 7px;
}

#dugmeSubmit {
    margin-bottom: 40px;
}

#dugmeClear {
    background-color: black;
    width: 130px;
}
  
.dugme:hover {
   background-color: #bbb;
}

p {
    margin: 0;
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
    width: 450px;
}

ul li {
    position: relative;
    list-style-type: none;
    background: #eee;
    font-size: 16px;
    background-color: white;
    border: 1px solid lightgray;
    margin: 0 15px;
    width: 400px;
    box-sizing: border-box;
    min-height: 30px;
    padding: 4px 42px 4px 10px;
}

.xIcon {
    position: absolute;
    top: 3px;
    right: 30px;
}